* {
    box-sizing: border-box;
}
:root {
    --main-bg-conteiner: #fff;
    --main-bg-main: #E5E5E5;
}
.texto {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}
.conteiners {
    background-color: var(--main-bg-conteiner);
    display: flex;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para Sala de Login*/
body {
    display: flex;
    justify-content: center;
}
body > img {
    position: absolute;
    top: 72px;
    width: 130px;
}
.sala-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}
.sala-login > input{
    outline: none;
    text-align: center;
    width: 261px;
    height: 54px;

    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}
.button {
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    color: #696969;
    border-radius: 9px;
    margin-top: 15px;
}

/* Estilos para o Bate papo */
/* CSS para o HEADER */
.header-batepapo{
    position: fixed;
    padding-left: 22px;
    padding-right: 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.header-batepapo > img {
    width: 75px;
}
.header-batepapo > ion-icon{
    font-size: 40px;
}

/* CSS para a Nav-Bar */
.fundo-navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);;
    width: 100vw;
    z-index: 2;
}
.conteiner-usuarios-online {
    right: 0px;
    position: absolute;
    background-color: #fff;
    width: 65%;
    height: 100%;
}
.conteiner-usuarios-online > ion-icon {
    font-size: 50px;
    margin-left: 20px;
    margin-top: 100px;
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 108px;
}
.titulo > p{
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    font-style: normal;
}
.contato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    margin-top: 10px;
    
}
.contato > div {
    display: flex;
}
.contato {
    font-size: 50px;
    margin-right: 10px;
}
.contato p{
    font-size: 25px;
    font-style: normal;
    line-height: 19px;
    margin-left: 10px;
}
.check {
    font-size: 35px;
    color: #28BB25;
}
.escondido {
    display: none;
}
/* CSS para o MAIN */
.main-batepapo {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-main);
    padding-top: calc(26px + 80px);
}
.entrou-sala{
    display: flex;
    align-items: center;
    height: 50px;
    background-color:  #DCDCDC;;
}
.entrou-sala p {
    font-style: normal;
    margin-left: 10px;
}
.entrou-sala strong {
    font-weight: bold;
    margin-left: 10px;
}
.entrou-sala span{
    color: #AAAAAA;
}
/* CSS para o FOOTER */
.footer-batepapo {
    position: fixed;
    padding-right: 18px;
    padding-left: 18px;
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
.footer-batepapo > input{
    outline: none;
    border: none;
    color: black;
}
.footer-batepapo > ion-icon{
    font-size: 30px;
}